body{
    background-color: #232323;
}

h1{
    color: white;
    text-align: center;
}
#container{
    width : 600px;
    margin : 0 auto
}

.square{
    width : 30%;
    background-color:purple;
    padding-bottom: 30%;
    float: left;
    margin: 10px
}

#messageDisplay{
    text-align: center;
    color: white;
    margin : 0 auto
}